In [1]:
import pandas as pd 
import numpy as np
import datetime 
import datatable as dt
from datatable import fread
import time
start_time = datetime.datetime.now()
%matplotlib inline

In [2]:
%%time
vars1 = dt.fread('make_variables.csv')
vars_before = vars1.to_pandas()
vars_before.shape
#vars=pd.read_csv('vars.csv')
#vars.shape

Wall time: 1.39 s

(96397, 1620)

In [3]:
entities = ['Cardnum', 'Merchnum', 'Merch description',
       'Merch state', 'Merch zip', 'card_merch', 'card_zip', 'card_state', 'merch_zip',
       'merch_state']

In [4]:
%%time
vars_before.drop(columns=entities,inplace=True)
vars_before.head()

Wall time: 234 ms

,Recnum,Date,Transtype,Amount,Fraud,dow,dow_risk,U*_cardnum,U*_merchnum,Cardnum_day_since,...,merch_zip_count_1_by_30_sq,merch_zip_count_1_by_60_sq,merch_state_count_0_by_7_sq,merch_state_count_0_by_14_sq,merch_state_count_0_by_30_sq,merch_state_count_0_by_60_sq,merch_state_count_1_by_7_sq,merch_state_count_1_by_14_sq,merch_state_count_1_by_30_sq,merch_state_count_1_by_60_sq
0,1,2010-01-01,P,3.62,False,Friday,0.025994,2.178008,NaN,0.0,...,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278
1,2,2010-01-01,P,31.42,False,Friday,0.025994,1.604857,1.001244,0.0,...,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278
2,3,2010-01-01,P,178.49,False,Friday,0.025994,2.368143,1.025818,0.0,...,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278
3,4,2010-01-01,P,3.62,False,Friday,0.025994,1.044105,NaN,0.0,...,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278
4,5,2010-01-01,P,3.62,False,Friday,0.025994,2.178008,NaN,0.0,...,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278

In [5]:
%%time
vars_before.drop(columns=['Date','Transtype','dow'],inplace=True)
vars_before.head()

Wall time: 227 ms

,Recnum,Amount,Fraud,dow_risk,U*_cardnum,U*_merchnum,Cardnum_day_since,Cardnum_count_0,Cardnum_avg_0,Cardnum_max_0,...,merch_zip_count_1_by_30_sq,merch_zip_count_1_by_60_sq,merch_state_count_0_by_7_sq,merch_state_count_0_by_14_sq,merch_state_count_0_by_30_sq,merch_state_count_0_by_60_sq,merch_state_count_1_by_7_sq,merch_state_count_1_by_14_sq,merch_state_count_1_by_30_sq,merch_state_count_1_by_60_sq
0,1,3.62,False,0.025994,2.178008,NaN,0.0,1,3.62,3.62,...,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278
1,2,31.42,False,0.025994,1.604857,1.001244,0.0,1,31.42,31.42,...,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278
2,3,178.49,False,0.025994,2.368143,1.025818,0.0,1,178.49,178.49,...,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278
3,4,3.62,False,0.025994,1.044105,NaN,0.0,1,3.62,3.62,...,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278
4,5,3.62,False,0.025994,2.178008,NaN,0.0,2,3.62,3.62,...,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278,0.020408,0.005102,0.001111,0.000278

In [6]:
vars_before.shape

(96397, 1607)

In [7]:
%%time
vars_before.to_csv('vars_before.csv',index=False)

Wall time: 52.7 s

In [8]:
type(vars_before)

pandas.core.frame.DataFrame

In [9]:
%%time
# this cell takes about 25 minutes on my new notebook
# it takes about 48 minutes on my old laptop
print(vars_before.shape)
vars_new = vars_before.T.drop_duplicates().T
vars_new.shape

(96397, 1607)
Wall time: 43 s

(96397, 1392)

In [10]:
%%time
vars_new.to_csv('vars.csv',index=False)

Wall time: 45.2 s

In [11]:
print('duration: ',datetime.datetime.now() - start_time)

duration:  0:02:23.360134